*{
        font-family: "Rowdies", sans-serif;
        font-weight: 700;
        font-style: normal;    
}
.parentDiv{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
    margin: auto;
    background-color: #7BC9FF;
}
.parentDiv:first-child{
    /* border: 1px solid rgb(63, 62, 62); */
    border-radius: 6vw;
    width: 60%;
    height: clip(auto, 35em);
    margin: auto;
}
input{
    margin: 4%;
    width: 33%;
    height: 8vh;
}
.parentDiv>div+div{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    margin-bottom: 1%;

}
button{
    width: 20%;
    border: 1px solid black;
    margin: 0 2% 5% 2%;
    height: 8vh;
    background-color: #A3FFD6;
    color: #1C1678;
}
button:hover{
    background-color: #8576FF;
    cursor: pointer;
    color: whitesmoke;
}
